.btn {
  background-color: #ffffff;
  border: solid 2px $dark-gray;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  font: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-gray;

  cursor: pointer;
}
