.main-nav {
  /*background-color: #ffffff;*/
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__toggle {
  display: none; /*временно для мобильной версии*/

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__wrapper {
  padding-left: 37px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid lime;
  }
}
