.page-header {
  width: auto;
  /* background-color: $white-two; */

  color: #000000;
  text-align: center;

  display: flex;
  flex-direction: column;
  outline: 2px solid LawnGreen;
}

.page-header__logo {
  height: 79px;
  outline: 2px solid hotpink;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 88px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 88px;
  }
}
