.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
  }
}

.site-list__item {
  padding: 0;
  margin: 0;
  height: 79px;
  text-align: left;
  padding-top: 26px;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.search {
  border: none;
  outline: none;
  background: transparent;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.search::placeholder {
  color: #000000;
}

.site-list--user {
  @media (min-width: 768px) {
    display: flex;
    order: -1;
    outline: 2px solid orange;
  }
}

.site-list--promo {
  display: none;

  @media (min-width: 768px) {
    display: none;
  }
}
