body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;

  background-color: #ffffff;

  background-image: url("../img/mishka-index-mobile-menu.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: top;
  min-height: 750px;

  @media (min-width: 768px) {
    background-image: url("../img/mishka-index-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 768px auto;
    background-position: top;
  }

  @media (min-width: 1150px) {
    background-image: url("../img/mishka-index-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1150px auto;
    background-position: top;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
