body {
  background-image: url("../img/mishka-index-mobile-menu.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: top;
}

@media (min-width: $tablet-width) {
  body {
    background-image: url("../img/mishka-index-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 768px auto;
    background-position: top;
  }
}

@media (min-width: $desktop-width) {
  body {
    background-image: url("../img/mishka-index-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1150px auto;
    background-position: top;
  }
}
